<div class="container-fluid menu page">
    <div class="row">

        {{> admin/components/menus/main menu-menus=true}}

        <div class="col-12 col-lg-10">
            <div class="row no-gutters">

                {{> admin/components/heading heading=(add "Edit Menu: " menu.name) slug=menu.slug}}

                {{> admin/components/notifications}}

                {{#with menu}}
                    <div class="container page-body">
                        <div class="row">
                            <div class="col-12">
                                <form id="updatemenu" action="/updatemenu" method="POST">
                                    <div class="form-row align-items-end">
                                        <div class="form-group col-md-6">
                                            <label for="name">Menu Name</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Menu Name" value="{{name}}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input name="_id" type="hidden" value="{{_id}}">
                                            <input name="slug_from_cient" type="hidden" value="{{slug}}">
                                            <button type="submit" class="btn btn-primary ">Update Name</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row menu_items">
                            <div class="col-12 col-md-6 col-lg-4 add-item mt-4">
                                <div class="card card-body form-wrap add">
                                    <h5 class="card-title">Add Menu Item</h5>
                                    {{> admin/pages/edit/menu/form permalinks=../permalinks create=true}}
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-8 mt-3 mt-md-0 list-groups-wrap">
                                {{> admin/pages/edit/menu/item links=../links}}
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-12">
                                <form id="deletemenu" action="/deletemenu" method="POST" class="d-inline-block">
                                    <input name="_id" type="hidden" value="{{_id}}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete Menu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/with}}

            </div>
        </div>
    </div>

    <!-- Edit Menu Item Modal -->
    <div class="modal fade" id="edit_menu_item_modal" tabindex="-1" role="dialog" aria-labelledby="edit_menu_item_modal_label" aria-hidden="true">
    <div class="modal-dialog form-wrap">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit_menu_item_modal_label">Edit Media Item</h5>
            <button type="button" class="close edit_modal_dismiss" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{> admin/pages/edit/menu/form permalinks=permalinks}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary edit_modal_dismiss" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary menuitem_submit">Save changes</button>
        </div>
        </div>
    </div>
    </div>
</div>