<div class="row">
    <div class="col-12">
        <div class="row loader"></div>
        <div class="mfa-notifications"></div>
        <div class="qr"></div>
        {{#with user}}
            {{#if mfa.enabled}}
            <p>Two-factor authentication is currently enabled for your user account. Click the disable button below to disable two-factor authentication.</p>
                <form action="/removeusermfa" method="POST" id="removeusermfa" autocomplete="off" class="user-update-form">
                    <input name="_id" type="hidden" value="{{_id}}">
                    <button type="submit" class="btn btn-warning">Disable 2FA</button>
                </form>
            {{else}}
                <p class="google_auth_notice"><i>Currently, Analog CMS only supports two-factor authentication through <a href="https://support.google.com/accounts/answer/1066447?co=GENIE.Platform%3DAndroid&hl=en" target="_blank">Google Authenticator</a>.</i></p>
                <button id="mfa_gen" type="button" class="btn btn-primary">Setup One-Time Password</button>
            {{/if}}
        {{/with}}
    </div>
</div>