    {{~#if captcha}}
    <!--recaptcha scripts -->
    {{{captcha}}}
    {{~/if~}}
    <!--minified & concat JS libraries -->
    <script src="/assets/libraries.js"></script>
    <!--minified & concat JS file -->
    <script src="/assets/scripts.js"></script>
</body>

</html>