<form action="/subscriber/add" method="POST">
  <div class="form-group">
    <label for="newsletter_email">Signup for our newsletter</label>
    <input type="email" name="email" class="form-control" aria-describedby="newsletter_email_help" placeholder="Enter email" required>
    <small id="newsletter_email_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>