<div class="container mb-5">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1 class="mb-3">Search results for: "{{term}}"</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{#if pages}}
                <h4 class="mb-3">Pages:</h4>
                {{#each pages}}
                    {{#with this}}
                        <h5><a href="{{permalink.full}}">{{title}}</a></h5>
                    {{/with}}
                {{/each}}
            {{else}}
                <h5>No results for your search.</h5>
            {{/if}}
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            {{> admin/components/pagination data=pages}}
        </div>
    </div>
</div>